training_directory: _training
enable_web_interface: True
server_user: xxx
log_level: info  #info, #debug
random_seed: 777
env_params:
  gym_type: marl_attacks #_from_dataset #How to read traffic: [classification_from_dataset, classification, attacks, attacks_from_dataset, marl_attacks, marl_attacks_from_dataset].
  #classification
  csv_file: traffic.csv #necessary only if gym_type: classification_from_dataset and for agent supervised
  show_normal_traffic: True
  wait_after_read: 2  
  n_bins: 4  
  max_steps: 5 
  steps_min_percentage: 0.9
  accuracy_min: 0.9 #to return done during train related to steps_min_percentage
  test_episodes: 5 #Number of episodes to test the agent
  #attack environment
  attack_likely: 0.01 #max 0.5; likelihood that one host attacks. necessary only with gym_type=attacks
  attack_thresholds:
    packets: 1000 #2880 # packets  to determinate an attack
    var_packets: 50 #percentage packet variation to determinate an attack
    bytes: 1000000 #4230000 # bytes  to determinate an attack
    var_bytes: 30 #percentage byte variation to determinate an attack
  #network environment
  net_params:
    traffic_types: ["none", "ping",  "udp" , "tcp"] #labels normal traffic generator
    num_hosts: 4
    num_switches: 1
    num_iot: 4
    controller:
      ip: 192.168.1.x #226 on ubuntu
      port: 6633
      usr: xxx
      pwd: xxx
# === Agents Configuration ===
agents:
  - name: "Supervised_1"
    algorithm: "Supervised"
    enabled: false

  # --- Q-learning ---
  - name: "Q-learning_quick"
    algorithm: "Q-learning"
    enabled: true
    skip_learn: false
    show_action: false
    load: false
    load_dir: "attacks_from_dataset/20250709-105720_1_10_1/Q-learning_quick/Q-learning_quick"
    save: true
    learning_rate: 0.2
    discount_factor: 0.3
    exploration_rate: 1.0
    exploration_decay: 0.995
    episodes: 5

  - name: "Q-learning_slow"
    algorithm: "Q-learning"
    enabled: false
    skip_learn: true
    show_action: false
    load: true
    load_dir: "attacks_from_dataset/20250709-105720_1_10_1/Q-learning_slow/Q-learning_slow"
    save: true
    learning_rate: 0.01
    discount_factor: 0.9
    exploration_rate: 1.0
    exploration_decay: 0.9995
    episodes: 300

  - name: "Q-learning_balanced"
    algorithm: "Q-learning"
    enabled: false
    skip_learn: true
    show_action: false
    load: true
    load_dir: "attacks_from_dataset/20250709-105720_1_10_1/Q-learning_balanced/Q-learning_balanced"
    save: true
    learning_rate: 0.05
    discount_factor: 0.5
    exploration_rate: 1.0
    exploration_decay: 0.999
    episodes: 300

  # --- SARSA ---
  - name: "Sarsa_quick"
    algorithm: "Sarsa"
    enabled: false
    skip_learn: true
    show_action: false
    load: true
    load_dir: "attacks_from_dataset/20250709-105720_1_10_1/Sarsa_quick/Sarsa_quick"
    save: true
    learning_rate: 0.2
    discount_factor: 0.3
    exploration_rate: 1.0
    exploration_decay: 0.995
    episodes: 300

  - name: "Sarsa_slow"
    algorithm: "Sarsa"
    enabled: false
    skip_learn: true
    show_action: false
    load: true
    load_dir: "attacks_from_dataset/20250709-105720_1_10_1/Sarsa_slow/Sarsa_slow"
    save: true
    learning_rate: 0.01
    discount_factor: 0.9
    exploration_rate: 1.0
    exploration_decay: 0.9995
    episodes: 300

  - name: "Sarsa_balanced"
    algorithm: "Sarsa"
    enabled: false
    skip_learn: true
    show_action: false
    load: true
    load_dir: "attacks_from_dataset/20250709-105720_1_10_1/Sarsa_balanced/Sarsa_balanced"
    save: true
    learning_rate: 0.05
    discount_factor: 0.5
    exploration_rate: 1.0
    exploration_decay: 0.999
    episodes: 300

  # --- DQN ---
  - name: "DQN_quick"
    algorithm: "DQN"
    enabled: false
    progress_bar: false
    skip_learn: true
    show_action: false
    load: true
    load_dir: "attacks_from_dataset/20250709-105720_1_10_1/DQN_quick/DQN_quick"
    save: true
    net_arch: [8, 8]
    learning_rate: 0.005
    gamma: 0.3
    exploration_fraction: 0.1
    exploration_initial_eps: 1.0
    exploration_final_eps: 0.1
    buffer_size: 5000
    batch_size: 16
    target_update_interval: 80
    learning_starts: 20
    episodes: 300

  - name: "DQN_slow"
    algorithm: "DQN"
    enabled: false
    progress_bar: false
    skip_learn: true
    show_action: false
    load: true
    load_dir: "attacks_from_dataset/20250709-105720_1_10_1/DQN_slow/DQN_slow"
    save: true
    net_arch: [8, 8]
    learning_rate: 0.0003
    gamma: 0.95
    exploration_fraction: 0.3
    exploration_initial_eps: 1.0
    exploration_final_eps: 0.05
    buffer_size: 20000
    batch_size: 16
    target_update_interval: 80
    learning_starts: 20
    episodes: 300

  - name: "DQN_balanced"
    algorithm: "DQN"
    enabled: false
    progress_bar: false
    skip_learn: true
    show_action: false
    load: true
    load_dir: "attacks_from_dataset/20250709-105720_1_10_1/DQN_balanced/DQN_balanced"
    save: true
    net_arch: [8, 8]
    learning_rate: 0.001
    gamma: 0.9
    exploration_fraction: 0.2
    exploration_initial_eps: 1.0
    exploration_final_eps: 0.05
    buffer_size: 10000
    batch_size: 16
    target_update_interval: 80
    learning_starts: 20
    episodes: 300

  # --- PPO ---
  - name: "PPO_quick"
    algorithm: "PPO"
    enabled: false
    progress_bar: false
    skip_learn: true
    show_action: false
    load: true
    load_dir: "attacks_from_dataset/20250709-105720_1_10_1/PPO_quick/PPO_quick"
    save: true
    net_arch: [8, 8]
    learning_rate: 0.005
    gamma: 0.3
    ent_coef: 0.1
    n_steps: 20
    batch_size: 1
    episodes: 300

  - name: "PPO_slow"
    algorithm: "PPO"
    enabled: false
    progress_bar: false
    skip_learn: true
    show_action: false
    load: true
    load_dir: "attacks_from_dataset/20250709-105720_1_10_1/PPO_slow/PPO_slow"
    save: true
    net_arch: [8, 8]
    learning_rate: 0.0003
    gamma: 0.95
    ent_coef: 0.01
    n_steps: 40
    batch_size: 1
    episodes: 300

  - name: "PPO_balanced"
    algorithm: "PPO"
    enabled: false
    progress_bar: false
    skip_learn: true
    show_action: false
    load: true
    load_dir: "attacks_from_dataset/20250709-105720_1_10_1/PPO_balanced/PPO_balanced"
    save: true
    net_arch: [8, 8]
    learning_rate: 0.001
    gamma: 0.9
    ent_coef: 0.05
    n_steps: 20
    batch_size: 1
    episodes: 300

  # --- A2C ---
  - name: "A2C_quick"
    algorithm: "A2C"
    enabled: false
    progress_bar: false
    skip_learn: true
    show_action: false
    load: true
    load_dir: "attacks_from_dataset/20250709-105720_1_10_1/A2C_quick/A2C_quick"
    save: true
    net_arch: [8, 8]
    learning_rate: 0.005
    gamma: 0.3
    ent_coef: 0.1
    n_steps: 20
    episodes: 300

  - name: "A2C_slow"
    algorithm: "A2C"
    enabled: false
    progress_bar: false
    skip_learn: true
    show_action: false
    load: true
    load_dir: "attacks_from_dataset/20250709-105720_1_10_1/A2C_slow/A2C_slow"
    save: true
    net_arch: [8, 8]
    learning_rate: 0.0003
    gamma: 0.95
    ent_coef: 0.01
    n_steps: 40
    episodes: 300

  - name: "A2C_balanced"
    algorithm: "A2C"
    enabled: false
    progress_bar: false
    skip_learn: true
    show_action: false
    load: true
    load_dir: "attacks_from_dataset/20250709-105720_1_10_1/A2C_balanced/A2C_balanced"
    save: true
    net_arch: [8, 8]
    learning_rate: 0.001
    gamma: 0.9
    ent_coef: 0.05
    n_steps: 20
    episodes: 300
